<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee            http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


    <servlet>
        <servlet-name>AltaJuez</servlet-name>
        <servlet-class>interfaces.InterfazAltaJuez</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AltaJuez</servlet-name>
        <url-pattern>/AltaJuez</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AltaAutor</servlet-name>
        <servlet-class>interfaces.InterfazRegistrarArticulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AltaAutor</servlet-name>
        <url-pattern>/AltaAutor</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AltaCliente</servlet-name>
        <servlet-class>interfaces.InterfazAltaCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AltaCliente</servlet-name>
        <url-pattern>/AltaCliente</url-pattern>
    </servlet-mapping>
    
   <servlet>
        <servlet-name>AltaRevista</servlet-name>
        <servlet-class>interfaces.InterfazRegistrarRevista</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AltaRevista</servlet-name>
        <url-pattern>/AltaRevista</url-pattern>
    </servlet-mapping>
    
</web-app>
